<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Доступ запрещен</title>
  <link rel="stylesheet" type="text/css" href="/templates/styles.css">
</head>
<body>
  <div class="container">
    <h1>Доступ запрещен</h1>
    <p>У вас нет прав для доступа к этой странице.</p>
    <div class="navigation">
      <a href="/static">Вернуться на главную</a>
    </div>
  </div>
</body>
</html>