<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Data</title>
    <link rel="stylesheet" type="text/css" href="/templates/styles.css">
</head>
    <body>
        <div class="container">
            <h1 class="text-center mt-5">Private Data Page</h1>
            <p>This page is accessible only by users with ADMIN role.</p>
        </div>
    </body>
</html>
